@model AgentViewModel
@{
    ViewData["Title"] = "Datatable";
}
@section Styles {
    <link href="~/lib/datatables.net-bs5/datatables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-buttons-bs5/buttons.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-fixedcolumns-bs5/fixedcolumns.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-select-bs5/select.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/custom_dt_modifications.css" rel="stylesheet" />
}

<div class="card shadow-sm" id="agentsRoot">
    <div class="card-header fw-light bg-light ">
        <div class="d-flex justify-content-between">
            <h3>Agents</h3>
            <div class="mt-2">
                <button type="button" class="btn btn-sm border rounded action-btn" data-bs-toggle="collapse" data-bs-target="#agentFormWrapper" id="addBtn">
                    <i class="fas fa-plus text-info"></i>
                    <span class="ps-1">Add</span>
                </button>
            </div>
        </div>
        <div class="collapse" id="agentFormWrapper">
               <div class="border rounded bg-white shadow-sm my-4">
                <form method="post" class="row m-2 fw-normal" asp-controller="Home" asp-action="SaveAgent" id="agentForm">
                    @Html.AntiForgeryToken()
                    <input name="Id" type="hidden" value="0"/>
                    <div class="d-flex text-warning" asp-validation-summary="All">

                    </div>
                    <div class="col-md-6 col-lg-4 my-3">
                        <div class="row">
                            <label class="col-3 col-form-label">Name</label>
                            <div class="col-9 form-group">
                                <input class="form-control" asp-for="Name" />
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 my-3">
                        <div class="row">
                            <label class="col-3 col-form-label">Position</label>
                            <div class="col-9 form-group">
                                <input class="form-control" asp-for="Position" />
                                <span class="text-danger" asp-validation-for="Position"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 my-3">
                        <div class="row">
                            <label class="col-3 col-form-label">Office</label>
                            <div class="col-9 form-group">
                                <input class="form-control" asp-for="Office" />
                                <span class="text-danger" asp-validation-for="Office"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 my-3">
                        <div class="row">
                            <label class="col-3 col-form-label">Age</label>
                            <div class="col-9 form-group">
                                <input type="number" class="form-control" asp-for="Age" />
                                <span class="text-danger" asp-validation-for="Age"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 my-3">
                        <div class="row">
                            <label class="col-3 col-form-label">Start Date</label>
                            <div class="col-9 form-group">
                                <input type="date" class="form-control" asp-for="StartDate" />
                                <span class="text-danger" asp-validation-for="StartDate"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 my-3">
                        <div class="row">
                            <label class="col-3 col-form-label">Salary</label>
                            <div class="col-9 form-group">
                                <input type="number" class="form-control" asp-for="Salary" />
                                <span class="text-danger" asp-validation-for="Salary"></span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row m-2">
                    <ul class="list-group list-group-horizontal list-group-flush justify-content-center">
                        <li class="list-group-item border-0">
                            <button type="button" class="btn btn-sm btn-light border rounded action-btn" id="saveBtn">
                                <i class="fas fa-save text-info"></i>
                                <span class="ps-1">Save</span>
                            </button>
                        </li>
                        <li class="list-group-item border-0">
                            <button type="button" class="btn btn-sm btn-light border rounded action-btn"
                                    data-bs-toggle="collapse" data-bs-target="#agentFormWrapper" id="cancelBtn">
                                <i class="fas fa-cancel text-danger"></i>
                                <span class="ps-1">Cancel</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
    <div class="card-body">

        <table id="agents" class="table table-striped table-hover" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start Date</th>
                    <th>Salary</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <small class="text-center">Built on top of <a class="text-info" href="https://datatables.net/">Datatables.net</a></small>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/datatables.net/datatables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/datatables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables-responsive/datatables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/datatables-buttons/js/datatables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs5/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/jszip/jszip.min.js"></script>
    <script src="~/lib/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/pdfmake/vfs_fonts.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colvis.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-fixedcolumns/datatables.fixedcolumns.min.js"></script>
    <script src="~/lib/datatables.net-fixedcolumns-bs5/fixedcolumns.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-select/datatables.select.min.js"></script>
    <script src="~/lib/datatables.net-select-bs5/select.bootstrap5.min.js"></script>
    <script src="~/js/custom_dt_modifications.js"></script>
}